@page "/employees"

@using IMS.Shared.ViewModels.Pagination;
@using IMS.Shared.ViewModels.Requests;
@using IMS.WebApp.Helpers;
@using System.Web;
@inject EmployeeHelper employeeHelper
@inject NavigationManager NavigationManager

<PageTitle>Employees</PageTitle>

@if (isSuccess)
{
    <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </svg>
        <div>
            Success!
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" @onclick="closeNotif"></button>
    </div>
}

<div class="row">
    <div class="col-lg-9">
        <h3>Index</h3>
    </div>
    <div class="col-lg-3 text-right">
        <a class="btn btn-success btn-sm" href="/employees/create" role="button">Create</a>
    </div>
</div>

@if (employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Designation</th>
                <th>Branch</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if(employees.pagedList != null)
            {
                @foreach (var employee in employees.pagedList)
                {
                    <tr>
                        <td>@employee.Name</td>
                        <td>@employee.Designation</td>
                        <td>@employee.Branch</td>
                        <td class="text-right">
                            <a class="btn btn-primary btn-sm" href="/employees/details/@employee.Id" role="button">Details</a>
                            <a class="btn btn-secondary btn-sm" href="/employees/update/@employee.Id" role="button">Edit</a>
                            @*<button class="btn btn-danger btn-sm" @onclick="@(e => DeletePlayer(item.Id))" role="button">Delete</button>*@
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

@code {
    PagedResultDTO<EmployeePagedDTO>? employees;
    PagedQueryDTO dto = new PagedQueryDTO();
    public EmployeeDTO? Employee { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "isSuccess")]
    public bool isSuccess { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Employee = new EmployeeDTO();
        employees = await employeeHelper.GetEmployeeList(dto);
    }

    private void closeNotif()
    {
        isSuccess = false;

        NavigationManager.NavigateTo("/employees");
    }
}
